@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Overpass:wght@100;300;400;500;600;700;800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

:root {
    --primary-color: rgb(67, 64, 64);
    --secondary-color: rgb(218, 204, 186);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
}


/* navbar */
nav {
    width: 100%;
    font-size: x-large;
    box-shadow: 1px 1px 10px black;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav>ul {
    display: flex;
    list-style: none;
}

nav>ul>li {
    color: var(--primary-color);
    margin: 0 2.5rem;
    letter-spacing: 3px;
    cursor: pointer;
    transition: color 0.25s;
}

nav>ul>li:hover {
    color: white;
}


/* homepage */
#home {
    height: 100vh;
    color: var(--primary-color);
}

#home-img {
    height: 100%;
    background-image: url('./img/background.JPG');
    background-size: cover;
    opacity: 0.5;
    filter: brightness(80%);
}

#home-content {
    position: absolute;
    top: 15%;
    left: 15%;
}

#home-content>h1 {
    font-size: 4rem;
}

#home-content>p {
    font-size: large;
    width: 55%;
    line-height: 1.5rem;
}


/* projects */
#projects {
    padding: 3rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}

#projects>h2 {
    padding: 2rem;
}

#icons {
    padding: 2rem;
}

i {
    display: inline-block;
    font-size: 5rem;
    margin: 1rem 1rem;
    transition: all 0.5s;
}

i:hover {
    translate: 10px -10px;
}


/* slides */
.slideShow {
    margin-top: 3.5rem;
    padding: 2rem 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
}

.slide {
    position: relative;
    margin-bottom: 1rem;
}

.slide>.numbertext {
    position: absolute;
    top: 10px;
    left: 10px;
}

.slide>a>img {
    width: 100%;
    height: 700px;
    border-radius: 10px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem 10px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: black;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #6e6c6c;
}


/* contact section */
#contact {
    padding: 5rem;
    background-color: var(--secondary-color);
    text-align: center;
}

#contact-methods {
    width: 50%;
    text-align: left;
    margin: auto;
}

#contact-methods>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
